* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://static.vecteezy.com/ti/fotos-gratis/p1/30601184-gigante-oleo-refinaria-fabrica-dentro-deserto-ai-generativo-gratis-foto.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
